{% extends 'base.html.twig' %}



{% block title %}{% endblock %}



{% block body %}


<div id="chattest">

    {{ form_start(formChat) }}


    {{ form_row(formChat.message, {'attr': {'placeholder': "Contenue de l'article"}
    }) }}

    <div id="messageChatLaunch"> 
{{ form_widget(formChat.message) }}
    </div>


    <input type="submit" value="Valider" class="ajax" />

    {{ form_end(formChat) }}
</div>
  
    <div id="minichat" class="center">

                <h1>Bienvenue à vous sur le chat de mon site personnel</h1>
{{ramdom }} 

    {% for message in messages %}
    
                <div id="messagechat" style="padding-left : 20px">
            {{ message.pseudo}} dit : {{ message.message }} le {{ message.createdAt| date('H:i')  }} 
         <img src="avatar/{{message.user.avatar }}"> 
                </div>
    {% endfor %}
         
                </div>
        </div>
{% endblock %}

{% block javascripts %}
 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>


  let form =   document.getElementById('chattest');
        form.addEventListener('submit',onClickBtnLike );
        
   


    function onClickBtnLike(event){

     event.preventDefault();
const messageChatLaunch = document.querySelector('#form_message');
console.log(messageChatLaunch);
        const data = new FormData();
        data.append('form_message', form_message.value);

         const requeteAjax = new XMLHttpRequest();
        
        requeteAjax.open('POST', '/chat/post', true);


  
        requeteAjax.send(data);
  }


  

    </script>
{% endblock %}
